# Question
## Table: Tweets

| Column Name | Type    |
|-------------|---------|
| tweet_id    | int     |
| content     | varchar |

- `tweet_id` is the primary key (column with unique values) for this table.  
- `content` consists of alphanumeric characters, `'!'`, or `' '` and no other special characters.  
- This table contains all the tweets in a social media app.

---

### Problem
Write a solution to find the IDs of the **invalid tweets**.  
A tweet is invalid if the number of characters in its content is **strictly greater than 15**.

Return the result table in any order.

---

### Example 1

**Input:**

Tweets table:

| tweet_id | content                           |
|----------|-----------------------------------|
| 1        | Let us Code                       |
| 2        | More than fifteen chars are here! |

**Output:**

| tweet_id |
|----------|
| 2        |

**Explanation:**

- Tweet 1 has length = 11 → Valid tweet.  
- Tweet 2 has length = 33 → Invalid tweet.

In [ ]:
import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    return tweets[tweets['content'].str.len() > 15][['tweet_id']]

#or

import pandas as pd

def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets['len']=tweets['content'].apply(lambda x : len(x)>15)
    return tweets[tweets['len']][['tweet_id']]

In [2]:
def add(a,b):
    return a+b

f=lambda a,b: a+b

print(add(1,2),"   ",f(1,2))

3     3

In [ ]:
cout= lambda x: for i in x: print(i)

SyntaxError: invalid syntax (506507892.py, line 1)