# Question
## Table: Employees

| Column Name | Type    |
|-------------|---------|
| employee_id | int     |
| name        | varchar |
| salary      | int     |

- **employee_id** is the primary key (column with unique values) for this table.  
- Each row of this table indicates the employee ID, employee name, and salary.

---

## Problem

Write a solution to calculate the **bonus** of each employee.

- The bonus of an employee is **100% of their salary** if:
  1. The employee's ID is an **odd number**, **and**
  2. The employee's name **does not** start with the character `'M'`.

- Otherwise, the bonus is `0`.

Return the result table **ordered by `employee_id`**.

---

## Example

**Input:**

Employees table:

| employee_id | name    | salary |
|-------------|---------|--------|
| 2           | Meir    | 3000   |
| 3           | Michael | 3800   |
| 7           | Addilyn | 7400   |
| 8           | Juan    | 6100   |
| 9           | Kannon  | 7700   |

**Output:**

| employee_id | bonus |
|-------------|-------|
| 2           | 0     |
| 3           | 0     |
| 7           | 7400  |
| 8           | 0     |
| 9           | 7700  |

**Explanation:**
- Employees with IDs **2** and **8** get `0` bonus because they have an even `employee_id`.
- Employee with ID **3** gets `0` bonus because their name starts with `'M'`.
- The rest of the employees get a **100% bonus**.

In [ ]:
import pandas as pd

def calculate_special_bonus(employees: pd.DataFrame) -> pd.DataFrame:
    employees['bonus']=employees.apply(lambda row: row['salary'] if (row['employee_id']%2==1 ) & (row['name'][0]!='M') else 0,axis=1 )

    return employees[['employee_id','bonus']].sort_values(by='employee_id',ascending=True)